*.pyc
*.swp
__pycache__
static-root
.mypy_cache/
*egg-info
db.sqlite3
.coverage
docs/_build/
geckodriver.log
debug.log
secrets.json

#pyenv version
.python-version 

#anything with a dot
.*
#that isn't
!.gitignore
!.github

dist/

volumes