{% extends 'adminlte/base.html' %}
{% load static %}
{% load labels %}


{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>
{% endblock %}

{% block title %}RSE Group Administration Tool - Project View {% endblock %}
{% block page_name %}View Client Summary{% endblock %}
{% block content %}

	<div class ="row">
        
		<div class="col-md-9">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"> Projects Associated with {{client.name}}</h3>
			  
			  <a id="id_add_client" href="{% url 'project_new' %}?client={{ client.id }}&next={% url 'client' client.id %}" class="fa fa-plus pull-right" data-toggle="tooltip" title="" data-original-title="Create a new project for this client"></a>
            </div>
            <div class="box-body">
              
			  <table id="projects" class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th id="type">Type</th>
							<th id="internal">Internal</th>
							<th id="title">Title</th>
							<th id="status">Status</th>
							<th id="duration">Duration (days)</th>
							<th id="fte">FTE</th>
							<th id="start">Start</th>
							<th id="end">End</th>
							<th id="progress">Commitment</th>
							<th id="progress_label"></th>
							<th id="more"></th>
						</tr>
					</thead>
					<tbody>
						{% for p in projects %}
						<tr>
							<td>{{ p.id }}</td>
							<td>{{ p.type_str }}</td>
							<td><input type="checkbox" disabled {% if p.internal %}checked{% endif %}></input></td>
							<td>{{ p.name }}</td>
							<td><span class="label {{ p.status|projectstatuslabel }}">{{ p.get_status_display }}</span></td>
							<td>{{ p.duration }}</td>
							<td>{{ p.fte }}</td>
							<td>{{ p.start|date:'Y-m-d' }}</td>
							<td>{{ p.end|date:'Y-m-d' }}</td>
							<td>
								<div class="progress progress-xs {% if p.percent_allocated >= 50 and p.percent_allocated < 100%} progress-striped active {% endif %}">
									<div class="progress-bar {% if p.percent_allocated < 50 %}progress-bar-danger{% elif p.percent_allocated == 100.0 %}progress-bar-success{%else%}progress-bar-primary{% endif %} " style="width: {{p.percent_allocated}}%"></div>
								</div>
							</td>
							<td>
								<span class="badge {% if p.percent_allocated < 50 %}bg-red{% elif p.percent_allocated == 100.0 %}bg-green{%else%}bg-light-blue{% endif %}">{{p.percent_allocated}}%</span>
							</td>
							<td><a href="{% url 'project' p.id %}" class="btn btn-block btn-primary btn-xs">Info</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			  
            </div>
          </div>
        </div>
		
		<div class="col-md-3">
          
			 <div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">Client Details</h3>
					<span class="pull-right"><a href="{% url 'client_edit' client.id %}" class="text-muted"><i class="fa fa-edit"></i></a></span>
				</div>
				<div class="box-body">		
					<table class="table table-striped">
						<tbody>
							<tr><td>
									<p><strong>Client Name:</strong> {{client.name}} </p>
							</td></tr>

							<tr><td>
									<p><strong>Client Department:</strong> {{client.department}} </p>
							</td></tr>
							<tr><td>
									<p><strong>Description:</strong></p>
									<textarea class="form-control" rows="10" disabled="">{{client.description}}</textarea>
							</td></tr>
						</tbody>
					</table>
				</div>
			</div>
			 
			 <div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">Client Project Filters</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="box-body">		
					<div class="form-group">
						<label>Project Type</label>
						<p><i>Filter projects based off RSE allocated (cost recovered projects) or service work (day rate projects)</i></p>
						<select class="form-control" id="type_filter">
							<option value="">All</option>
							<option value="Allocated">Allocated Only</option>
							<option value="Service">Service Only</option>
						</select>
						
						</br>
						
						<label>Funding Status</label>
						<p><i>Filter projects based current funding status</i></p>
						<select class="form-control" id="status_filter">
							<option value="">All</option>
							<option value="Preparation">Preparation</option>
							<option value="Review">Review</option>
							<option value="Funded">Funded</option>
							<option value="Rejected">Rejected</option>
						</select>
						
						</br>
						
					</div>
				</div>
			</div>
		  
        </div>
		
		
		
    </div>



   
    
    
    
{% endblock %}

{% block javascript %}
{{ block.super}}

<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
<!-- https://datatables.net/examples/basic_init/zero_configuration.html -->
<script type="text/javascript">
	$(document).ready(function() {
		$('#projects').DataTable({
			pageLength: 25,
			scrollX: false,
			initComplete: function () {
				// Type filter
				this.api().column("#type").every( function () {
					var column = this;
					var select = $('#type_filter')
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
							);
							column
								.search( val ? '^'+val+'$' : '', true, false )
								.draw();
						} );
	 
					
				} );
				// Status filter
				this.api().column("#status").every( function () {
					var column = this;

					var select = $('#status_filter')
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
							);
							column
								.search( val ? '^'+val+'$' : '', true, false )
								.draw();
						} );
				} );
			}
		} );
	} );
	
</script>
	
{% endblock %}