{% extends 'adminlte/base.html' %}
{% load static %}
{% load humanize %}
{% load labels %}


{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'jsGanttImproved/jsgantt.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'daterangepicker/daterangepicker.css' %}" />
{% endblock %}

{% block title %}RSE Group Administration Tool - {{ rse }} Cost Distribution{% endblock %}

{% block page_name %}{{ rse }} Cost Distribution{% endblock %}
{% block content %}



   
    <div class ="row">
        
        <div class="col-md-9">
			<div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">Cost Distribution Summary</h3>
					<p><i>Note: This does not include any internal projects or service projects which are not chargable.</i></p>
				</div>
				<div class="box-body">
					<table id="projects" class="table table-hover">
						<thead>
							<tr>
								<th>Date</th>
								{% for project in projects %}
								<th id="project_{{project.id}}"> 
									<!--<div style="writing-mode: vertical-lr;">-->
									{{project.name}} <br> 
									({{project.proj_costing_id}})
									<a href="{% url 'project_allocations' project.id %}" class="text-muted" data-toggle="tooltip" title="" data-original-title="Edit project Allocations"><i class="fa fa-edit"></i></a>
									<!--</div>-->
								</th>
								{% endfor %}
								<th>Total</th>
								
							</tr>
						</thead>
						<tbody>
							{% for date, total_effort, allocs in commitments %}
							<tr>
								<td><strong>{{date}}</strong></td>
								{% for project in projects %}
								<td>
									{% sum_project_allocation_percentage project allocs %}
								</td>
								{% endfor %}
								<td><strong>{{total_effort}}%</strong></td>
							</tr>
							{% endfor %}
							
						</tbody>
					</table>
				</div>
			</div>
        </div>
		
		<div class="col-md-3">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Filter</h3>
			  <div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				</div>
            </div>
			<form method='GET' id="filter_form">
				<div class="box-body">
				  <div class="form-group">
					
					<label>Date range:</label>
					<p><i>Will include any projects which have any time within the selected date range</i><p>
					<div class="input-group">
					  <div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					  </div>
					  {{ form.filter_range }}
					</div>
					</br>
					
						
					<label>Funding Status</label>
					<p><i>Filter projects based current funding status</i></p>
					{{ form.status }}
					</br>
					
				  </div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">Apply</button>
				</div> {{temp}}
			</form>
          </div>
        </div>
		
    </div>
    
    
 
{% endblock %}

{% block javascript %}
{{ block.super}}

{% include "includes/daterangepicker.html" with filter_form=form html_form="filter_form" %}


    
    
{% endblock %}