{% extends 'adminlte/base.html' %}
{% load static %}
{% load labels %}

{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>
{% endblock %}


{% block title %}RSE Group Administration Tool: View Projects{% endblock %}

{% block page_name %}RSE Group Administration Tool: View Projects{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-9">
		<div class="box">
			
			<div class="box-body table-responsive padding">
				<table id="projects" class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th id="type">Type</th>
							<th id="internal">Internal</th>
							<th id="title">Title</th>
							<th id="status">Status</th>
							<th id="duration">Duration (days)</th>
							<th id="fte">FTE</th>
							<th id="start">Start</th>
							<th id="end">End</th>
							<th id="schedule">Schedule</th>
							<th id="department">Department</th>
							<th id="progress">Commitment</th>
							<th id="progress_label"></th>
							<th id="more"></th>
						</tr>
					</thead>
					<tbody>
						{% for p in projects %}
						<tr>
							<td>{{ p.id }}</td>
							<td>{{ p.type_str }}</td>
							<td><input type="checkbox" disabled {% if p.internal %}checked{% endif %}></input></td>
							<td>{{ p.name }}</td>
							<td><span class="label {{ p.status|projectstatuslabel }}">{{ p.get_status_display }}</span></td>
							<td>{{ p.duration }}</td>
							<td>{{ p.fte }}</td>
							<td>{{ p.start|date:'Y-m-d' }}</td>
							<td>{{ p.end|date:'Y-m-d' }}</td>
							<td><span class="label {{ p.get_schedule_display|schedulestatuslabel }}">{{ p.get_schedule_display }}</span></td>
							<td>{{ p.client.department }}</td>
							<td>
								<div class="progress progress-xs {% if p.percent_allocated >= 50 and p.percent_allocated < 99.5%} progress-striped active {% endif %}">
									<div class="progress-bar {% if p.percent_allocated < 50 %}progress-bar-danger{% elif p.percent_allocated|percent == "100" %}progress-bar-success{%else%}progress-bar-primary{% endif %} " style="width: {{p.percent_allocated|percent}}%"></div>
								</div>
							</td>
							<td>
								<span class="badge {% if p.percent_allocated < 50 %}bg-red{% elif p.percent_allocated|percent == "100" %}bg-green{%else%}bg-light-blue{% endif %}">{{p.percent_allocated|percent}}%</span>
							</td>
							<td><a href="{% url 'project' p.id %}" class="pull-right btn btn-primary btn-xs">Info</a></td>
						</tr>
						{% endfor %}
					</tbody></table>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="box box-default">
			<div class="box-header with-border">
				<h3 class="box-title">Filters</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="box-body">
				
				
				<div class="form-group">
					<label>Project Type</label>
					<p><i>Filter projects based off RSE allocated (cost recovered projects) or service work (day rate projects)</i></p>
					{{form.type_filter}}
					
					</br>
					
					<label>Funding Status</label>
					<p><i>Filter projects based current funding status</i></p>
					{{form.status_filter}}
					
					</br>

					<label>Schedule</label>
					<p><i>Filter projects based on current schedule</i></p>
					{{form.schedule_filter}}
					
					</br>
					
				</div>
			</div>
		</div>
	</div>


</div>


{% endblock %}


{% block javascript %}
{{ block.super}}
	<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
	<!-- https://datatables.net/examples/basic_init/zero_configuration.html -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#projects').DataTable({
				pageLength: 25,
				scrollX: false,
				initComplete: function () {
					// Type filter
					this.api().column("#type").every( function () {
						var column = this;
						var select = $('#id_type_filter')
							.on( 'change', function () {
								var val = $.fn.dataTable.util.escapeRegex(
									$(this).val()
								);
								column
									.search( val ? '^'+val+'$' : '', true, false )
									.draw();
							} );
		 
						
					} );
					// Status filter
					this.api().column("#status").every( function () {
						var column = this;

						var select = $('#id_status_filter')
							.on( 'change', function () {
								var val = $.fn.dataTable.util.escapeRegex(
									$(this).val()
								);
								column
									.search( val ? '^'+val+'$' : '', true, false )
									.draw();
							} );
					} );
					// Schedule filter
					this.api().column("#schedule").every( function () {
						var column = this;

						var select = $('#id_schedule_filter')
							.on( 'change', function () {
								var val = $.fn.dataTable.util.escapeRegex(
									$(this).val()
								);
								column
									.search( val ? '^'+val+'$' : '', true, false )
									.draw();
							} );
					} );
				}
			} );

			// Search by initial values from form
			initial_type_val = $.fn.dataTable.util.escapeRegex($('#id_type_filter').val());
			initial_status_val = $.fn.dataTable.util.escapeRegex($('#id_status_filter').val());
			initial_schedule_val = $.fn.dataTable.util.escapeRegex($('#id_schedule_filter').val());
			$('#projects').DataTable().column("#type").search(initial_type_val ? '^'+initial_type_val+'$' : '', true, false).draw();
			$('#projects').DataTable().column("#status").search(initial_status_val ? '^'+initial_status_val+'$' : '', true, false).draw();
			$('#projects').DataTable().column("#schedule").search(initial_schedule_val ? '^'+initial_schedule_val+'$' : '', true, false).draw();


		} );
		
	</script>
{% endblock %}

