{% extends 'adminlte/base.html' %}
{% load static %}


{% block stylesheets %}
{{ block.super}}

{% endblock %}

{% block title %}RSE Group Administration Tool: New Project {% endblock %}
{% block page_name %}RSE Group Administration Tool: {% if edit %}Edit{% else %}New{% endif %} Project{% endblock %}
{% block content %}

	<div class ="row">
        
		<div class="col-md-8">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Select Project Type</h3>
            </div>
            
			<form method="POST" action="">
                {% csrf_token %}                                        
				<div class="box-body">
                    <strong>Select Project Type</strong>
					{{ form.type }}
							
				</div>
				
				<div class="box-footer">
					<input type="submit" value="Save" class="btn btn-primary btn-xm"></input>
				</div>
			
			</form>
          </div>
        </div>
        
    </div>


    

   
    
    
    
{% endblock %}

{% block javascript %}
{{ block.super}}

{% endblock %}