{% extends 'adminlte/base.html' %}
{% load static %}


{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'daterangepicker/daterangepicker.css' %}" />
{% endblock %}

{% block title %}RSE Group Administration Tool - Project View {% endblock %}
{% block page_name %}View Project Allocations{% endblock %}
{% block content %}

<div class ="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-solid">
					<div class="box-header with-border">
						<h3 class="box-title"> Allocations for {{project.name}}</h3>
					</div>
					<div class="box-body">
						<table id="allocations" class="table table-hover">
							<thead>
								<tr>
									<th>RSE</th>
									<th id="type">Start Date</th>
									<th id="internal">End Date</th>
									<th id="title">FTE</th>
									<th id="duration">Duration (Days)</th>
									<th id="duration">FTE Days</th>
									<th id="progress">Allocation Total</th>
									<th id="progress_label"></th>
									<th id="edit"></th>
									<th id="delete"></th>
								</tr>
							</thead>
							<tbody>
									{% for a in allocations %}
								<tr>
									<td>{{ a.rse }}</td>
									<td>{{ a.start }}</td>
									<td>{{ a.end }}</td>
									<td>{{ a.percentage }}</td>
									<td>{{ a.duration }}</td>
									<td>{{ a.effort }}</td>
									<td>
										<div class="progress progress-xs">
											<div class="progress-bar progress-bar-primary " style="width: {{ a.project_allocation_percentage }}%"></div>
										</div>
									</td>
									<td>
										<span class="badge bg-light-blue">{{a.project_allocation_percentage}}%</span>
									</td>
									<td></td>
									<td>
										<form method="POST" action="{% url 'project_allocations_view_delete' a.id %}">
											{% csrf_token %}
											<input type="submit" value="Delete" class="btn btn-block btn-danger btn-xs"></input>
										</form>
									</td>
								</tr>
									{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="box box-solid">
					<div class="box-header with-border">
						<h3 class="box-title"> New Allocation</h3>
					</div>
					<div class="box-body">


							<form method='POST' id="allocation_form">
								<div class="form-group">
									{% csrf_token %}

									<label>Start Date:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										{{ form.start }}
									</div>
									<br>

									<label>End Date:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										{{ form.end }}
										<div class="input-group-addon">
											<a href="" id="id_end_autocomplete" class="fa fa-calculator"></a>
										</div>
									</div>
									<br>

									<label>RSE:</label>
									<div class="input-group">
										{{ form.rse }} 
										<div class="input-group-addon">
											<a href="" id="id_rse_summary" target="_blank" class="fa fa-area-chart"></a>
										</div>
									</div>
									<br>

									<label>FTE Percentage:</label>
										{{ form.percentage }}
									<br>

									{% if form.errors %}
										{% for field in form %}
											{% for error in field.errors %}
												<div class="alert alert-danger">
													<strong>{{ error|escape }}</strong>
												</div>
											{% endfor %}
										{% endfor %}
										{% for error in form.non_field_errors %}
											<div class="alert alert-danger">
												<strong>{{ error|escape }}</strong>
											</div>
										{% endfor %}
									{% endif %}
	
									<button type="submit" class="btn btn-primary">Add Allocation</button>
								</div>
							</form>

						
					</div>
					<div class="box-footer">
						<i>Allocation represents X% of total with X% of total project allocated</i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		{% include 'includes/projectdetailsbox.html' with project=project summary_icon=True%}

		{% include 'includes/projecteffortbox.html' with project=project %}
		

	</div>
</div>



						

   
    
    
    
{% endblock %}

{% block javascript %}
{{ block.super}}

<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
<!-- https://datatables.net/examples/basic_init/zero_configuration.html -->
<script type="text/javascript">
	$(document).ready(function() {
		$('#allocations').DataTable({
			pageLength: 25,
			searching: false,
			scrollX: false,
		} );
	} );
	
</script>



<script language="javascript" src="{% static 'daterangepicker/moment.min.js' %}"></script>
<script language="javascript" src="{% static 'daterangepicker/daterangepicker.js' %}"></script>
<script type="text/javascript">	
	// function for getting address string for commitment view
	function commitment_view_url(rse_id){
		var url_str;
		
		//get base url
		if (rse_id)
			url_str = window.location.protocol + "//" + document.location.host + '{% url 'rseid_view' %}' + rse_id;
		else
			url_str = window.location.protocol + "//" + document.location.host + '{% url 'commitment_view' %}' + rse_id;
		var url = new URL(url_str);	
			
		//append filter range
		var filter_range = new URLSearchParams();
		date_str = $('#id_start').val() + ' - ' + $('#id_end').val()
		filter_range.set('filter_range', date_str);
		filter_range.set('status', 'A');
		url.search = filter_range.toString()
			
		return url;
	}
	
	// function for updating the url
	function commitment_view_update_url(){
		var rse_id = $('#id_rse').val();
		$('#id_rse_summary').attr('href', commitment_view_url(rse_id).toString());
		console.log("change");
	}
	

	//Start Date Picker
	$('#{{form.start.id_for_label}}').daterangepicker({
		singleDatePicker: true,
		locale: {
			"format": "DD/MM/YYYY"
		},
	});
	//End date picker
	$('#{{form.end.id_for_label}}').daterangepicker({
		singleDatePicker: true,
		locale: {
			"format": "DD/MM/YYYY"
		},
	});
	
	// form option changes update the url
	$('#id_rse').change(function(){
		commitment_view_update_url();
	});
	$('#id_start').on('apply.daterangepicker', function(){
		commitment_view_update_url();
	});
	$('#id_end').on('apply.daterangepicker', function(){
		commitment_view_update_url();
	});
	
	//document ready set the initial url 
	$( document ).ready(function() {
		commitment_view_update_url();
	});

	
	

	


</script>
{% endblock %}