{% extends 'adminlte/base.html' %}
{% load static %}


{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'jsGanttImproved/jsgantt.css' %}" />
{% endblock %}

{% block title %}RSE Group Administration Tool - Project View {% endblock %}
{% block content %}

    <div class ="row>
    <div class="col-md-12">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title"> {{proj.name}}: RSE allocation</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div style="position:relative" class="gantt" id="GanttChartDIV"></div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    </div>
    
    <div class ="row>
    <div class="col-md-12">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title"> {{proj.name}}: Reporting </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p><strong>Duration: </strong>{{ proj_days }} days</p>
          <p><strong>Committed: </strong>{{ committed_days }} days</p>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    </div>

   
    
    
    
{% endblock %}

{% block javascript %}
{{ block.super}}
<script language="javascript" src="{% static 'jsGanttImproved/jsgantt.js' %}"></script>
<script type="text/javascript">
    var g = new JSGantt.GanttChart(document.getElementById('GanttChartDIV'), 'day');
    if( g.getDivId() != null ) {
        g.AddTaskItem(new JSGantt.TaskItem({{proj.id}}, '{{proj.name}}', '{{ proj.start | date:'Y-m-d'}}', '{{ proj.end | date:'Y-m-d' }}', 'ggroupblack', '', 0, '', {{ proj.percentage }}, 1, 0,  1, '', '', '', g));
        
        {% for a in allocations %}
            g.AddTaskItem(new JSGantt.TaskItem({{proj.id}}{{a.id}}, '{{a.rse}}', '{{ a.start | date:'Y-m-d'}}', '{{ a.end | date:'Y-m-d' }}', 'gtaskblue', '', 0, '', {{ a.percentage }}, 0, {{ proj.id }},  1, '', '', '', g));
        {% endfor %}
        
        g.Draw();
    }
</script>
{% endblock %}