{% extends 'adminlte/base.html' %}
{% load static %}


{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'jsGanttImproved/jsgantt.css' %}" />
{% endblock %}

{% block title %}RSE Group Administration Tool - Project View {% endblock %}
{% block page_name %}View Project{% endblock %}
{% block content %}

	<div class ="row">
        
		<div class="col-md-8">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"> FTE Commitment Overview for {{project.name}}</h3>
			  <div style="float: right">
				
					<button id="committment_graph_scale"  type="submit" class="btn btn-block btn-default btn-xs"><i class="fa fa-expand" id="committment_graph_scale_icon"></i></button>
				
			  </div>
            </div>
            <div class="box-body">
              <canvas id="commitmentChart" width="100%"></canvas>
            </div>
          </div>
        </div>
		
		<div class="col-md-4">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"> {{project.name}} </h3>
            </div>
            <div class="box-body">
				<table class="table table-striped">
					<tbody>
						<tr><td>
							<p><strong>Project Title:</strong> {{project.name}} </p>
						</td></tr>
						
						<tr><td>
							<p><strong>Costing ID:</strong> {{project.proj_costing_id}} </p>
						</td></tr>
						<tr><td>
							<p><strong>Client Name:</strong> {{project.client.name}} ({{project.client.department}})</p>
						</td></tr>
						<tr><td>
							<p><strong>Internal:</strong> {{project.internal}} </p>
						</td></tr>
						<tr><td>
							<p><strong>Internal:</strong> {{project.internal}} </p>
						</td></tr>
						<tr><td>
							<p><strong>Start:</strong> {{project.start}} </p>
						</td></tr>
						<tr><td>
							<p><strong>End:</strong> {{project.end}} </p>
						</td></tr>
						<tr><td>
							<p><strong>FTE:</strong> {{project.fte}}% </p>
						</td></tr>
						<tr><td>
							<p><strong>Status:</strong> {{project.get_status_display}} </p>
						</td></tr>
						<tr><td>
							<p><strong>Description:</strong> {{project.description}} </p>
						</td></tr>
					</tbody>
				</table>
			
			  
            </div>
          </div>
		  
		  <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"> {{project.type_str}} Project </h3>
            </div>
            <div class="box-body">
				<table class="table table-striped">
					<tbody>
						{% if service %}
						<tr><td>
							<p><strong>Service Days:</strong> {{project.days}} </p>
						</td></tr>
						<tr><td>
							<p><strong>Service Rate:</strong> {{project.rate}} </p>
						</td></tr>
						<tr><td>
							<p><strong>FTE Duration:</strong> {{project.duration}}% </p>
						</td></tr>
						 {% else %}
						 <tr><td>
							<p><strong>Allocated Percentage:</strong> {{project.percentage}}%</p>
						</td></tr>
						<tr><td>
							<p><strong>Overheads:</strong> {{project.get_overheads_display}} </p>
						</td></tr>
						<tr><td>
							<p><strong>Initial Salary Band:</strong> G{{project.salary_band.grade}}.{{project.salary_band.grade_point}} ({{project.salary_band.year.year}}) </p>
						</td></tr>
						 {% endif %}
					</tbody>
				</table>
            </div>
          </div>
		  
		  
		  <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"> Effort Reporting </h3>
            </div>
            <div class="box-body">
				<table class="table table-striped">
					<tbody>
						<tr><td>
							<p><strong>Total Project Days: </strong>{{ project.project_days }} days</p>
						</td></tr>
						<tr><td>
							<p><strong>Total Allocated Days: </strong>{{ project.committed_days }} days</p>
						</td></tr> 
					</tbody>
				</table>
            </div>
          </div>
		  
        </div>
		
		
		
    </div>


    <div class ="row">
        <div class="col-md-12">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">RSE Allocations</h3>
            </div>
            <div class="box-body">
              <div style="position:relative" class="gantt" id="GanttChartDIV"></div>
            </div>
          </div>
        </div>
    </div>
    

   
    
    
    
{% endblock %}

{% block javascript %}
{{ block.super}}
<script language="javascript" src="{% static 'jsGanttImproved/jsgantt.js' %}"></script>
<script type="text/javascript">
    var g = new JSGantt.GanttChart(document.getElementById('GanttChartDIV'), 'month');
    if( g.getDivId() != null ) {
        g.AddTaskItem(new JSGantt.TaskItem({{project.id}}, '{{project.name}}', '{{ project.start | date:'Y-m-d'}}', '{{ project.end | date:'Y-m-d' }}', 'ggroupblack', '', 0, '', {{ project.fte }}, 1, 0,  1, '', '', '', g));
        
        {% for a in allocations %}
            g.AddTaskItem(new JSGantt.TaskItem({{project.id}}{{a.id}}, '{{a.rse}}', '{{ a.start | date:'Y-m-d'}}', '{{ a.end | date:'Y-m-d' }}', 'gtaskblue', '', 0, '', {{ a.percentage }}, 0, {{ project.id }},  1, '', '', '', g));
        {% endfor %}
        
        g.Draw();
    }
</script>

{% include "includes/commitmentgraph.html" with commitment_data=commitment_data canvas_id="commitmentChart" %}

{% endblock %}