{% extends 'adminlte/base.html' %}
{% load static %}


{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'jsGanttImproved/jsgantt.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'daterangepicker/daterangepicker.css' %}" />
{% endblock %}

{% block title %}RSE Group Administration Tool - Project View {% endblock %}
{% block page_name %}View Project{% endblock %}
{% block content %}

<div class ="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-solid">
					<div class="box-header with-border">
						<h3 class="box-title"> Allocations for {{project.name}}</h3>
					</div>
					<div class="box-body">
						<table id="allocations" class="table table-hover">
							<thead>
								<tr>
									<th>RSE</th>
									<th id="type">Start Date</th>
									<th id="internal">End Date</th>
									<th id="title">FTE</th>
									<th id="duration">Duration (Days)</th>
									<th id="duration">FTE Days</th>
									<th id="progress">Allocation Total</th>
									<th id="progress_label"></th>
									<th id="edit"></th>
									<th id="delete"></th>
								</tr>
							</thead>
							<tbody>
									{% for a in allocations %}
								<tr>
									<td>{{ a.rse }}</td>
									<td>{{ a.start }}</td>
									<td>{{ a.end }}</td>
									<td>{{ a.percentage }}</td>
									<td>{{ a.duration }}</td>
									<td>{{ a.effort }}</td>
									<td>
										<div class="progress progress-xs">
											<div class="progress-bar progress-bar-primary " style="width: {{ a.project_allocation_percentage }}%"></div>
										</div>
									</td>
									<td>
										<span class="badge bg-light-blue">{{a.project_allocation_percentage}}%</span>
									</td>
									<td><a href="" class="btn btn-block btn-info btn-xs">Edit</a></td>
									<td><a href="" class="btn btn-block btn-danger btn-xs">Delete</a></td>
								</tr>
									{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="box box-solid">
					<div class="box-header with-border">
						<h3 class="box-title"> New Allocation</h3>
					</div>
					<div class="box-body">


						<div class="box-body">
							<form method='POST' id="allocation_form">
								<div class="form-group">
									{% csrf_token %}

									<label>Start Date:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										{{ form.start }}
									</div>
									<br>

									<label>End Date:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										{{ form.end }}
									</div>
									<br>

									<label>RSE:</label>
										{{ form.rse }}
									<br>

									<label>FTE Percentage:</label>
										{{ form.percentage }}
									<br>

									{{ form.errors }}
	
									<button type="submit" class="btn btn-primary">Add Allocation</button>

								</div>
							</form>
						</div>

						<div class="box-footer">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="box box-solid">
			<div class="box-header with-border">
				<h3 class="box-title">Project Details</h3>
			</div>
			<div class="box-body">
				<table class="table table-striped">
					<tbody>
						<tr><td>
								<p><strong>Project Title:</strong> {{project.name}} </p>
							</td></tr>

						<tr><td>
								<p><strong>Costing ID:</strong> {{project.proj_costing_id}} </p>
							</td></tr>
						<tr><td>
								<p><strong>Client Name:</strong> {{project.client.name}} ({{project.client.department}})</p>
							</td></tr>
						<tr><td>
								<p><strong>Internal:</strong> {{project.internal}} </p>
							</td></tr>
						<tr><td>
								<p><strong>Internal:</strong> {{project.internal}} </p>
							</td></tr>
						<tr><td>
								<p><strong>Start:</strong> {{project.start}} </p>
							</td></tr>
						<tr><td>
								<p><strong>End:</strong> {{project.end}} </p>
							</td></tr>
						<tr><td>
								<p><strong>FTE:</strong> {{project.fte}}% </p>
							</td></tr>
						<tr><td>
								<p><strong>Status:</strong> {{project.get_status_display}} </p>
							</td></tr>
						<tr><td>
								<p><strong>Description:</strong> {{project.description}} </p>
							</td></tr>
					</tbody>
				</table>


			</div>
		</div>

		<div class="box box-solid">
			<div class="box-header with-border">
				<h3 class="box-title">{{project.type_str}} Project Details</h3>
			</div>
			<div class="box-body">
				<table class="table table-striped">
					<tbody>

							{% if project.is_service %}
						<tr><td>
								<p><strong>Service Days:</strong> {{project.days}} </p>
							</td></tr>
						<tr><td>
								<p><strong>Service Rate:</strong> {{project.rate}} </p>
							</td></tr>
						<tr><td>
								<p><strong>FTE Duration:</strong> {{project.duration}}% </p>
							</td></tr>
							 {% else %}
						<tr><td>
								<p><strong>Allocated Percentage:</strong> {{project.percentage}}%</p>
							</td></tr>
						<tr><td>
								<p><strong>Overheads:</strong> {{project.get_overheads_display}} </p>
							</td></tr>
						<tr><td>
								<p><strong>Initial Salary Band:</strong> G{{project.salary_band.grade}}.{{project.salary_band.grade_point}} ({{project.salary_band.year.year}}) </p>
							</td></tr>
							 {% endif %}
					</tbody>
				</table>
			</div>
		</div>


		<div class="box box-solid">
			<div class="box-header with-border">
				<h3 class="box-title"> Effort Reporting </h3>
			</div>
			<div class="box-body">
				<p><span class="float-left badge {% if project.percent_allocated < 50 %}bg-red{% elif project.percent_allocated == 100.0 %}bg-green{%else%}bg-light-blue{% endif %}">{{project.percent_allocated}}%</span> of Project Allocated</p>
				<div class="progress progress {% if project.percent_allocated >= 50 and project.percent_allocated < 100%} progress-striped active {% endif %}">
					<div class="progress-bar {% if project.percent_allocated < 50 %}progress-bar-danger{% elif project.percent_allocated == 100.0 %}progress-bar-success{%else%}progress-bar-primary{% endif %} " style="width: {{project.percent_allocated}}%">
					</div>
				</div>


				<table class="table table-striped">
					<tbody>
						<tr><td>
								<p><strong>Total Project Days: </strong>{{ project.project_days }} days</p>
							</td></tr>
						<tr><td>
								<p><strong>Total Allocated Days: </strong>{{ project.committed_days }} days</p>
							</td></tr> 
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>



						

   
    
    
    
{% endblock %}

{% block javascript %}
{{ block.super}}

<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
<!-- https://datatables.net/examples/basic_init/zero_configuration.html -->
<script type="text/javascript">
	$(document).ready(function() {
		$('#allocations').DataTable({
			pageLength: 25,
			searching: false,
			scrollX: false,
		} );
	} );
	
</script>



<script language="javascript" src="{% static 'daterangepicker/moment.min.js' %}"></script>
<script language="javascript" src="{% static 'daterangepicker/daterangepicker.js' %}"></script>
<script type="text/javascript">	
	var end_day = moment("{{project.start|date:"d/m/Y"}}","DDMMYYYY").add({{project.remaining_days_at_fte}}, 'day');
	//Start Date Picker
	$('#{{form.start.id_for_label}}').daterangepicker({
		singleDatePicker: true,
		//startDate: "{{project.start|date:"d/m/Y"}}",
		locale: {
			"format": "DD/MM/YYYY"
		}
	});
	//End date picker
	$('#{{form.end.id_for_label}}').daterangepicker({
		singleDatePicker: true,
		startDate: end_day.format("DD/MM/YYYY"),
		locale: {
			"format": "DD/MM/YYYY"
		}
	});
	

</script>
{% endblock %}