{% extends 'adminlte/base.html' %}
{% load static %}


{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'jsGanttImproved/jsgantt.css' %}" />
{% endblock %}

{% block title %}RSE Group Administration Tool - Project View {% endblock %}
{% block page_name %}View Project Summary (Project Internal ID: {{project.id}}){% endblock %}
{% block content %}

	<div class ="row">
        
		<div class="col-md-8">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title"> FTE Commitment Overview for {{project.name}}</h3>
              <div style="float: right">
              
                <button id="committment_graph_scale"  type="submit" class="btn btn-block btn-default btn-xs"><i class="fa fa-expand" id="committment_graph_scale_icon"></i></button>
              
              </div>
            </div>
            <div class="box-body">
              <canvas id="commitmentChart" width="100%"></canvas>
            </div>
          </div>
        </div>
		
		<div class="col-md-4">
          
        {% include 'includes/projectdetailsbox.html' with project=project %}

        {% if user.is_superuser %}
          {% include 'includes/projecteffortbox.html' with project=project view_icon=True%}
        {% else %}
          {% include 'includes/projecteffortbox.html' with project=project view_icon=False%}
        {% endif %}
		  
       
		
		
		
    </div>


    <div class ="row">
        <div class="col-md-12">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">RSE Allocations</h3>
            </div>
            <div class="box-body">
              <div style="position:relative" class="gantt" id="GanttChartDIV"></div>
            </div>
          </div>
        </div>
    </div>
    

   
    
    
    
{% endblock %}

{% block javascript %}
{{ block.super}}

{% include "includes/projectgantt.html" with project=project allocations=allocations %}

{% include "includes/commitmentgraph.html" with commitment_data=commitment_data canvas_id="commitmentChart" %}

{% endblock %}