{% extends 'adminlte/base.html' %}
{% load static %}
{% load humanize %}


{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'jsGanttImproved/jsgantt.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'daterangepicker/daterangepicker.css' %}" />
{% endblock %}

{% block title %}RSE Group Administration Tool: {{ rse }}{% endblock %}

{% block page_name %}RSE Group Administration Tool: {{ rse }}{% endblock %}
{% block content %}

   
    <div class ="row">
        
        <div class="col-md-8">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"> FTE Commitment Overview for {{rse}}</h3>
			  <div style="float: right">
				
					<button id="commitment_graph_scale"  type="submit" class="btn btn-block btn-default btn-xs"><i class="fa fa-expand" id="commitment_graph_scale_icon"></i></button>
				
			  </div>
            </div>
            <div class="box-body">
              <canvas id="commitmentChart" width="100%"></canvas>
            </div>
          </div>
        </div>
		
		<div class="col-md-4">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Filter</h3>
            </div>
			<form method='GET' id="filter_form">
				<div class="box-body">
				  <div class="form-group">
					
					<label>Date range:</label>
					<p><i>Will show any projects which have any time within the selected date range</i><p>
					<div class="input-group">
					  <div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					  </div>
					  {{ form.filter_range }}
					</div>
					</br>
					
						
					<label>Funding Status</label>
					<p><i>Filter projects based current funding status</i></p>
					{{ form.status }}
					</br>
					
				  </div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">Apply</button>
				</div> {{temp}}
			</form>
          </div>
        </div>
		
    </div>
    
     <div class ="row">
        <div class="col-md-12">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"> {{rse}}: Project allocation (full project allocations)</h3>
            </div>
            <div class="box-body">
              <div style="position:relative" class="gantt" id="GanttChartDIV"></div>
            </div>
          </div>
        </div>
    </div>
 
{% endblock %}

{% block javascript %}
{{ block.super}}

{% include "includes/rsesgantt.html" with rses=rses %}

{% include "includes/commitmentgraph.html" with commitment_data=commitment_data canvas_id="commitmentChart" scale_button_id="commitment_graph_scale"%}

{% include "includes/daterangepicker.html" with filter_form=form html_form="filter_form" %}


    
    

{% endblock %}