{% extends 'adminlte/base.html' %}
{% load static %}
{% load humanize %}


{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'jsGanttImproved/jsgantt.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'daterangepicker/daterangepicker.css' %}" />
{% endblock %}

{% block title %}RSE Group Administration Tool - {{ rse }} {% endblock %}

{% block page_name %}RSE Summary for {{ rse }} {% endblock %}
{% block content %}

   
    <div class ="row">
        <div class="col-md-4">
        
          <div class="box box-solid">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-xs-8">
                        <div><h3 class="box-title"> Filter</h3></div>
                    </div>
                    <div class="col-xs-4">
                        <div class="text-right">
                            <form method='GET' enctype='multipart/form-data' id='resetForm'>
                                <button type="submit" class="btn btn-block btn-default btn-xs">Reset (See All Allocations)</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                  <div class="form-group">
                    
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                      </div>
                      <form method='GET' enctype='multipart/form-data' id='rangeForm'>
                          <input type="text" name="dateRange" class="form-control pull-right" value="{{ filter_date }}">
                      </form>
                    </div>
                  </div>
                  <!--
                  <button type="submit" class="btn btn-success">Funded Only</button>
                  <button type="submit" class="btn btn-default">Funded and Under Review</button>
                  <button type="submit" class="btn btn-default">All Projects</button>  
                  -->                  
            </div>
          </div>
        
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"> Commitment Summary for {{ filter_date }}</h3>
            </div>
            <div class="box-body">
              <table class="table table-striped">
                <tr>
                  <td><strong>Report Duration (days)</strong></td><td style="text-align: right;">{{ report_duration }} </td>
                </tr>
                <tr>
                  <td><strong>Report Duration (days)</strong></td><td style="text-align: right;">{{ report_duration_billable | floatformat:0}} </td>
                </tr>
                <tr>
                  <td><strong>Total Staff Cost</strong></td><td style="text-align: right;">£ {{ staff_cost | floatformat:2 | intcomma}} </td>
                </tr>
                <tr>
                  <td><strong>Total Staff Salary Recovered</strong></td><td style="text-align: right;">£ {{ staff_recovered | floatformat:2 | intcomma }} </td>
                </tr>
                <tr>
                  <td><strong>Total Staff Salary Recovered (%)</strong></td><td style="text-align: right;">{{ staff_recovered_percent | floatformat:2 }}%</td>
                </tr>
                <tr>
                  <td><strong>Total Shortfall (Liability)</strong></td><td style="text-align: right;">£ {{ staff_shortfall | floatformat:2 | intcomma}} </td>
                </tr>
              </table>
            </div>
          </div>
          
        </div>
        
        <div class="col-md-8">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"> Commitment Overview in date range: {{ filter_date }}</h3>
            </div>
            <div class="box-body">
              <canvas id="commitmentChart" width="100%"></canvas>
            </div>
          </div>
        </div>
    </div>
    
     <div class ="row">
        <div class="col-md-12">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"> {{rse}}: Project allocation (full project allocations)</h3>
            </div>
            <div class="box-body">
              <div style="position:relative" class="gantt" id="GanttChartDIV"></div>
            </div>
          </div>
        </div>
    </div>
 
{% endblock %}

{% block javascript %}
{{ block.super}}

<!-- Gantt chart  -->
<script language="javascript" src="{% static 'jsGanttImproved/jsgantt.js' %}"></script>
<script type="text/javascript">
    var g = new JSGantt.GanttChart(document.getElementById('GanttChartDIV'), 'month');
    if( g.getDivId() != null ) {
        {% for a in allocations %}
            g.AddTaskItem(new JSGantt.TaskItem({{rse.id}}{{a.id}}, '{{a.project}}', '{{ a.start | date:'Y-m-d'}}', '{{ a.end | date:'Y-m-d' }}', 'gtaskblue', '', 0, '', {{ a.percentage }}, 0, '',  1, '', '', '', g));
        {% endfor %}
        
        g.Draw();
    }
</script>

<!-- Commitment graph -->
<script language="javascript" src="{% static 'chartjs/moment.js' %}"></script>
<script language="javascript" src="{% static 'chartjs/chart.js' %}"></script>
<script type="text/javascript">
    var ctx = document.getElementById("commitmentChart").getContext('2d');
    var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [
                {
                    steppedLine: 'before',
                    data: [
                        {% for date, value in plot_events %}
                            {
                                "x": new Date("{{date | date:'Y-m-d'}}"), 
                                "y": {{value}}
                            },
                        {% endfor %}
                    ],
                },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            beginAtZero:true,
                            max: 100,
                            min: 0,
                            callback: function(label, index, labels) {
                                return label+'%';
                            },
                        }
                    }],
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'month',
                        }
                    }]                    
                },
                legend:{
                    display:false,
                },
            }
        });

</script>

<!-- Date Range Picker -->
<script language="javascript" src="{% static 'daterangepicker/daterangepicker.js' %}"></script>
<script>
$('input[name="dateRange"]').daterangepicker({
        locale: {
            format: 'DD/MM/YYYY'
        }
});
$('input[name="dateRange"]').on('apply.daterangepicker', function(ev, picker) {
  //console.log(picker.startDate.format('YYYY-MM-DD'));
  //console.log(picker.endDate.format('YYYY-MM-DD'));
  $('#rangeForm').submit();
});
    
    
</script>
{% endblock %}