{% extends 'adminlte/base.html' %}
{% load static %}


{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'jsGanttImproved/jsgantt.css' %}" />
{% endblock %}

{% block title %}RSE Group Administration Tool - {{ rse }} {% endblock %}
{% block content %}

    <div class ="row">
        <div class="col-md-12">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"> {{rse}}: Project allocation</h3>
            </div>
            <div class="box-body">
              <div style="position:relative" class="gantt" id="GanttChartDIV"></div>
            </div>
          </div>
        </div>
    </div>
    
    <div class ="row">
        <div class="col-md-4">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"> Commitment Summary</h3>
            </div>
            <div class="box-body">
             
            </div>
          </div>
        </div>
        
        <div class="col-md-8">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"> Commitment Overview</h3>
            </div>
            <div class="box-body">
              <canvas id="commitmentChart" width="100%"></canvas>
            </div>
          </div>
        </div>
    </div>
 
{% endblock %}

{% block javascript %}
{{ block.super}}

<!-- Gantt chart  -->
<script language="javascript" src="{% static 'jsGanttImproved/jsgantt.js' %}"></script>
<script type="text/javascript">
    var g = new JSGantt.GanttChart(document.getElementById('GanttChartDIV'), 'day');
    if( g.getDivId() != null ) {
        {% for a in allocations %}
            g.AddTaskItem(new JSGantt.TaskItem({{rse.id}}{{a.id}}, '{{a.project}}', '{{ a.start | date:'Y-m-d'}}', '{{ a.end | date:'Y-m-d' }}', 'gtaskblue', '', 0, '', {{ a.percentage }}, 0, '',  1, '', '', '', g));
        {% endfor %}
        
        g.Draw();
    }
</script>

<!-- Commitment graph -->
<script language="javascript" src="{% static 'chartjs/moment.js' %}"></script>
<script language="javascript" src="{% static 'chartjs/chart.js' %}"></script>
<script type="text/javascript">
    var ctx = document.getElementById("commitmentChart").getContext('2d');
    var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [
                {
                    steppedLine: 'before',
                    data: [
                        {% for date, value in plot_events %}
                            {
                                "x": new Date("{{date | date:'Y-m-d'}}"), 
                                "y": {{value}}
                            },
                        {% endfor %}
                    ],
                },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            beginAtZero:true,
                            max: 100,
                            min: 0,
                            callback: function(label, index, labels) {
                                return label+'%';
                            },
                        }
                    }],
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'month',
                        }
                    }]                    
                },
                legend:{
                    display:false,
                },
            }
        });

</script>
{% endblock %}