{% extends 'adminlte/base.html' %}
{% load static %}
{% load labels %}
{% load humanize %}

{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'daterangepicker/daterangepicker.css' %}" />
{% endblock %}


{% block title %}RSE Group Administration Tool: {{rse}} Salary{% endblock %}

{% block page_name %}RSE Group Administration Tool: {{rse}} Salary{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-9">
		<div class="box">
			<div class="box-header with-border">
              <h3 class="box-title"> {{year}} Salary Grade Changes</h3>
			  
			</div>
			<div class="box-body table-responsive padding">
				<table id="grade_point_table" class="table table-hover">
					<thead>
						<tr>
							<th id="date">Date of change</th>
							<th id="grade">Grade and Point (Year)</th>
							<th id="salary">Salary</th>
							<th id="buttons"></th>
						</tr>
					</thead>
					<tbody>
						{% for sgc in sgcs %}
						<tr>
							<td>{{sgc.date}}</td>
							<td>G{{ sgc.salary_band.grade }}.{{ sgc.salary_band.grade_point }} ({{sgc.salary_band.year}})</td>
							<td>£{{ sgc.salary_band.salary|intcomma }}</td>
							<td align="right">  
								<button type="button" class="btn btn-danger btn-xs" data-val="{{sgc.id}}" data-toggle="modal" data-target="#delete_modal">Delete</button>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="box-footer">
				<i>Add new salary grade change</i>
				
				<form method="POST" action="" id="id_new_salary_grade_change_form">
					{% csrf_token %}  
					
					<div class="box-body">  

						{{ form.rse }}

						<div class="form-group">
							{{ form.date.label_tag }}
							{{ form.date }}
						</div>

						<div class="form-group">
							{{ form.salary_band.label_tag }}
							{{ form.salary_band }}
						</div>

					</div>


				
					
					{% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}
								<div class="alert alert-danger">
									<strong>{{field.label}}: {{ error|escape }}</strong>
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
					{% endif %}
					
					<input type="submit" value="Add Salary Grade Change" class="btn btn-primary btn-xm"></input>

				</form>
			</div>
		</div>
	</div>
	
	


</div>



<div class="modal modal-danger fade" id="delete_modal" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ><span>&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
			</div>
			<div class="modal-body">
			<p>Are you sure you wish to delete this salary grade change?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
				<form id="id_salarygradechange_delete_form" method="POST" action="#">
					{% csrf_token %}
					<input type="submit" value="Delete" class="btn btn-outline"></input>
				</form>
			</div>
		</div>
	</div>
</div>

   

{% endblock %}


{% block javascript %}
{{ block.super}}
<script language="javascript" src="{% static 'daterangepicker/moment.min.js' %}"></script>
<script language="javascript" src="{% static 'daterangepicker/daterangepicker.js' %}"></script>
<script type="text/javascript">	
	//Start Date Picker
	$('#{{form.date.id_for_label}}').daterangepicker({
		singleDatePicker: true,
		locale: {
			"format": "DD/MM/YYYY"
		},
	});

	
	function populate_salary_band() {
      
	  	var date = moment($("#{{form.date.id_for_label}}").val(), 'DD/MM/YYYY');
		var fy_year = date.year()
		// Month is zero indexed (WTF!)
		if (date.month() < 7)
			fy_year = date.year()-1
	  
	  var url = "{% url 'ajax_salary_band_by_year' %}"

      $.ajax({
        url: url,
        data: {
          'year': fy_year       
        },
        success: function (data) {
          $("#id_salary_band").html(data); 
        }
      });
	}
	
	//update the delete url for modal dialogue on load
	$('#delete_modal').on('show.bs.modal', function (event) {
		var salarygradechange_id = $(event.relatedTarget).data('val');
		// construct url dynamically
		var url_str = window.location.protocol + "//" + document.location.host + "{% url 'rse_salarygradechange_delete_noid' %}" + salarygradechange_id ;
		var url = new URL(url_str);
		$('#id_salarygradechange_delete_form').attr('action', url.toString());
	});


	// set values in salary band options form based off a responsive ajax query
	$('#{{form.date.id_for_label}}').change(function(){
		populate_salary_band();
	});

	//set initial values of salary band options
	$(document).ready(function()
    {
        populate_salary_band();
    });
</script>
{% endblock %}

