{% extends 'adminlte/base.html' %}
{% load static %}
{% load labels %}

{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>
<style>
	.grade{}
	.blurred {
		color: transparent;
   		text-shadow: 0 0 7px rgba(0,0,0,0.5);
	}
</style>
{% endblock %}


{% block title %}RSE Group Administration Tool: View RSEs{% endblock %}

{% block page_name %}RSE Group Administration Tool: View RSEs{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-9">
		<div class="box">
			
			<div class="box-body table-responsive padding">
				<table id="rses" class="table table-hover">
					<thead>
						<tr>
							<th id="name">Name</th>
							<th id="name">Username</th>
							<th id="department">Employed From</th>
							<th id="description">Employed Until</th>
							<th id="current_employment">Currently Employment</th>
							{% if user.is_superuser %} <th id="description">Current Grade Point </th> {% endif %}
							<th id="num_active_projects">Current Capacity</th>
							<th id="num_active_projects_label"></th>
							<th id="more"></th>
						</tr>
					</thead>
					<tbody>
						{% for rse in rses %}
						<tr>
							<td><a href="{% url 'rse' rse.user.username %}" >{{ rse.user.first_name }} {{ rse.user.last_name }}</a></td>
							<td>{{ rse.user.username }}</td>
							<td>{{ rse.employed_from|default_if_none:"" }}</td>
							<td>{{ rse.employed_until }}</td>
							<td>
								{% if rse.current_employment %}
									<span class="badge bg-green">Yes</span>
								{% else %}
									<span class="badge bg-red">No</span>
								{% endif %}
							</td>
							{% if user.is_superuser %} 
								<td>
									<span class="grade blurred">{{rse.grade}}</span>
									<a href="{% url 'rse_salary' rse.user.username %}" class="text-muted pull-right" data-toggle="tooltip" title="" data-original-title="Edit Salary Data"><i class="fa fa-edit"></i></a>
								</td> 
							{% endif %}
							<td> 
								<div class="progress progress-xs progress-striped active">
									<div class="progress-bar progress-bar-primary" style="width: {{rse.current_capacity}}%"></div>
								</div>
							</td>
							<td>
								<span class="badge bg-light-blue">{{rse.current_capacity|floatformat:2}}%</span>
							 </td>
							<td><a href="{% url 'rse' rse.user.username %}" class="pull-right btn btn-primary btn-xs">Info</a></td>
						</tr>
						{% endfor %}
					</tbody></table>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="box box-default">
			<div class="box-header with-border">
				<h3 class="box-title">Options</h3>
			</div>
			<div class="box-body">
				<p><i>Toggle the visibility of grade points in this view. </i></p>
				<div class="checkbox">
					<label>
						<input type="checkbox" id="id_show_grade"> Show grade points
					</label>
				</div>
			</div>
		</div>

		<div class="box box-default">
			<div class="box-header with-border">
				<h3 class="box-title">Filters</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="box-body">
				
				<div class="form-group">
					<label>Employed status</label>
					<p><i>Show all RSEs, or filter by whether the RSE is currently employed.</i></p>
					
					<select name="employed_filter" class="form-control" required="" id="id_employed_filter">
						<option value="" >All</option>
						<option value="Yes" selected="">Yes</option>
						<option value="No">No</option>
					</select>
					
					</br>
					
				</div>
			</div>
		</div>
	</div>

	
</div>


{% endblock %}


{% block javascript %}
{{ block.super}}
	<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
	<!-- https://datatables.net/examples/basic_init/zero_configuration.html -->
	<script type="text/javascript">
		$(document).ready(function() {

			//create data table
			$('#rses').DataTable({
				pageLength: 25,
				scrollX: false,
				initComplete: function () {
					// current employment filter
					this.api().column("#current_employment").every( function () {
						const column = this;
						const select = $('#id_employed_filter')
							.on( 'change', function () {
								const val = $.fn.dataTable.util.escapeRegex(
									$(this).val()
								);
								column
									.search( val ? `^${val}$` : '', true, false )
									.draw();
							} );
					});
				},
			} );

			const initial_employed_val = $.fn.dataTable.util.escapeRegex($('#id_employed_filter').val());
			
			$('#rses').DataTable().column("#current_employment").search(initial_employed_val ? '^'+initial_employed_val+'$' : '', true, false).draw();


			//toggle grade
			$('#id_show_grade').change(function(){
				//get all tds which have grade class
				var items = document.getElementsByClassName("grade");
				for (var i=0; i < items.length; i++) {
					//toggle the blurring class
					if($('#id_show_grade').is(':checked')){
						items[i].classList.remove("blurred");
					} else {
						items[i].classList.add("blurred");
					}
				}
				
			});
		} );
		
	</script>
{% endblock %}

