{% extends 'adminlte/base.html' %}
{% load static %}
{% load humanize %}
{% load labels %}


{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'jsGanttImproved/jsgantt.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'daterangepicker/daterangepicker.css' %}" />
{% endblock %}

{% block title %}RSE Group Administration Tool: RSE Team Staff Costs and Liability{% endblock %}

{% block page_name %}RSE Group Administration Tool: RSE Team Staff Costs and Liability{% endblock %}
{% block content %}



   
	<div class ="row">
        
		<div class="col-md-9">
			<div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">RSE Staff Costs and Liability</h3>
				</div>
				<div class="box-body">
					<table id="projects" class="table table-hover">
						<thead>
							<tr>
								<th id="rse">RSE</th>
								<th id="salary">Staff Salary</th>
								<th id="recovered">Reovered Salary</th>
								<th id="internal">Internal Project Salary</th>
								<th id="non_recovered">Non-Recovered Staff Costs</th>
								<th id="liability">Liability</th>
							</tr>
						</thead>
						<tbody>
							{% for rse, data in rse_costs.items %}
							<tr>
								<td>{{rse}}
									<span class="pull-right"><a href="{% url 'rse_staffcost' rse.user.username %}{% if request.GET.filter_range and request.GET.status %}?filter_range={{request.GET.filter_range}}&status={{request.GET.status}}{% endif %}" class="text-muted" data-toggle="tooltip" title="" data-original-title="View Staff Cost Breakdown"><i class="fa fa-calculator"></i></a></span>
								</td>
								<td>£{{data.staff_salary|floatformat:2|intcomma}}</td>
								<td>£{{data.recovered_staff_cost|floatformat:2|intcomma}}</td>
								<td>£{{data.internal_project_staff_cost|floatformat:2|intcomma}}</td>
								<td>£{{data.non_recovered_cost|floatformat:2|intcomma}}</td>
								<td>£{{data.staff_liability|floatformat:2|intcomma}}</td>
								
							</tr>
							{% endfor %}
							
						</tbody>
						<tfooter>
							<tr>
								<td><strong>Total</strong></td>
								<td><strong>£{{total_staff_salary|floatformat:2|intcomma}}</strong></td>
								<td><strong>£{{total_recovered_staff_cost|floatformat:2|intcomma}}</strong></td>
								<td><strong>£{{total_internal_project_staff_cost|floatformat:2|intcomma}}</strong></td>
								<td><strong>£{{total_non_recovered_cost|floatformat:2|intcomma}}</strong></td>
								<td><strong>£{{total_staff_liability|floatformat:2|intcomma}}</strong></td>
							</tr>
						</tfooter>
					</table>
				</div>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">Filter</h3>
			  <div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				</div>
			</div>
			<form method='GET' id="filter_form">
				<div class="box-body">
				  <div class="form-group">
					
						<label>Date range:</label>
						<p><i>Will include any projects which have any time within the selected date range</i><p>
						<div class="input-group">
							<div class="input-group-addon">
							<i class="fa fa-calendar"></i>
							</div>
							{{ form.filter_range }}
						</div>
						</br>
						
							
						<label>Funding Status</label>
						<p><i>Filter projects based current funding status</i></p>
						{{ form.status }}
						</br></br></br>

						<label>RSE Employment Status</label>
						<p><i>Filter projects based on whether RSE is currently employed (regardless whether the RSE is employed for the selected date range).</i></p>
						{{ form.rse_in_employment }}
						</br>
					
				  </div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">Apply</button>
				</div>
			</form>
		</div>
	</div>
    
 
{% endblock %}

{% block javascript %}
{{ block.super}}

{% include "includes/daterangepicker.html" with filter_form=form html_form="filter_form" %}
    
{% endblock %}