{% extends 'adminlte/base.html' %}
{% load static %}


{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'jsGanttImproved/jsgantt.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'daterangepicker/daterangepicker.css' %}" />
{% endblock %}

{% block title %}RSE Group Administration Tool - {{ rse }} {% endblock %}
{% block page_name %}RSE Team Allocation Summary {% endblock %}
{% block content %}

    <div class ="row">
        
		<div class="col-md-9">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title"> Project allocation for RSE Team</h3>
            </div>
            <div class="box-body">
              <div style="position:relative" class="gantt" id="GanttChartDIV"></div>
			</div>
		  </div>
		</div>
		
		<div class="col-md-3">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Filter</h3>
			  <div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				</div>
            </div>
			<form method='GET' id="filter_form">
				<div class="box-body">
				  <div class="form-group">
					
					<label>Date range:</label>
					<p><i>Will show any projects which have any time within the selected date range</i><p>
					<div class="input-group">
					  <div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					  </div>
					  {{ form.filter_range }}
					</div>
					</br>
					
						
					<label>Funding Status</label>
					<p><i>Filter projects based current funding status</i></p>
					{{ form.status }}
					</br>
					
				  </div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">Apply</button>
				</div> {{temp}}
			</form>
          </div>
        </div>
    </div>
   
	
 
{% endblock %}

{% block javascript %}
{{ block.super}}

{% include "includes/rsesgantt.html" with rses=rses %}


{% include "includes/daterangepicker.html" with filter_form=form html_form="filter_form" auto_submit=False%}


{% endblock %}