{% extends 'adminlte/base.html' %}
{% load static %}


{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'jsGanttImproved/jsgantt.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'daterangepicker/daterangepicker.css' %}" />
{% endblock %}

{% block title %}RSE Group Administration Tool - {{ rse }} {% endblock %}
{% block page_name %}RSE Team Allocation Summary {% endblock %}
{% block content %}

    <div class ="row">
        		
		<div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Filter</h3>
            </div>
            <div class="box-body">
              <div class="form-group">
                <label>Date range:</label>

                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
				  
                  
                  <form method='GET' id="filter_form">
                  {{ form.filter_range }}
				  </form>
                  
                </div>

				</br>
				<p><i>Will show any projects which have any time within the selected date range</i><p>
				MIN:{{ form.filter_range.get_min }}
              </div>
			</div>
          </div>
        </div>
    </div>
   
	
	
	<div class ="row">
        <div class="col-md-12">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"> Project allocation for RSE Team</h3>
            </div>
            <div class="box-body">
              <div style="position:relative" class="gantt" id="GanttChartDIV"></div>
			</div>
		  </div>
		</div>
    </div>
 
{% endblock %}

{% block javascript %}
{{ block.super}}
<script language="javascript" src="{% static 'jsGanttImproved/jsgantt.js' %}"></script>


<script type="text/javascript">
	// Gantt
    var g = new JSGantt.GanttChart(document.getElementById('GanttChartDIV'), 'month');
    if( g.getDivId() != null ) {
        {% for rse, allocation in rses.items %}
            g.AddTaskItem(new JSGantt.TaskItem({{rse.id}}, '{{rse}}', '', '', 'ggroupblack', '', 0, '', 0, 1, 0,  1, '', '', '', g));
            
            {% for a in allocation %}
                g.AddTaskItem(new JSGantt.TaskItem({{rse.id}}{{a.id}}, '{{a.project}}', '{{ a.start | date:'Y-m-d'}}', '{{ a.end | date:'Y-m-d' }}', 'gtaskblue', '', 0, '', {{ a.percentage }}, 0, {{ rse.id }},  1, '', '', '', g));
            {% endfor %}
        {% endfor %}

        g.Draw();
    }
</script>

{% include "includes/daterangepicker.html" with filter_form=form html_form="filter_form" %}


{% endblock %}