{% extends 'adminlte/base.html' %}
{% load static %}


{% block stylesheets %}
{{ block.super}}
{% if rse_form %}
<link rel="stylesheet" type="text/css" href="{% static 'daterangepicker/daterangepicker.css' %}" />
{% endif %}
{% endblock %}

{% block title %}RSE Group Administration Tool: {% if edit %}Edit{% else %}New{% endif %} RSE User{% endblock %}
{% block page_name %}RSE Group Administration Tool: {% if edit %}Edit{% else %}New{% endif %} RSE User{% endblock %}
{% block content %}

	<div class ="row">
        		
		
		<div class="col-md-8">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">RSE User Details</h3>
            </div>
			 <form method="POST" action="">
				{% csrf_token %}                                    
				<div class="box-body">
					
					
						<div class="form-group">
							{{ user_form.username.label_tag }}
							{{ user_form.username }}
						</div>
                        
                        <div class="form-group">
							{{ user_form.first_name.label_tag }}
							{{ user_form.first_name }}
						</div>
                        
                        <div class="form-group">
							{{ user_form.last_name.label_tag }}
							{{ user_form.last_name }}
						</div>
						
                        <div class="form-group">
							{{ user_form.email.label_tag }}
							{{ user_form.email }}
						</div>
						
						<div class="form-group">
						{{ user_form.password1.label_tag }}
						{{ user_form.password1 }}
						</div>
						
						<div class="form-group">
						{{ user_form.password2.label_tag }}
						{{ user_form.password2 }}
						</div>
						
						<div class="checkbox">
							<label>
							{{ user_form.is_admin }}
							User has administration permission
							</label>
						</div>
						
						{% if not edit %}
						<div class="form-group">
							<label>{{rse_form.employed_from.label_tag}}</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-calendar"></i>
								</div>
								{{ rse_form.employed_from }}
							</div>
						</div>
						{% endif %}
						
						<div class="form-group">
							<label>{{rse_form.employed_until.label_tag}}</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-calendar"></i>
								</div>
								{{ rse_form.employed_until }}
							</div>
						</div>

						{% if not edit %}
						<div class="form-group">
							{{ rse_form.salary_band.label_tag }}
							{{ rse_form.salary_band }}
						</div>
						{% endif %}
							
				</div>
				<div class="box-footer">
					{% if user_form.errors %}
						{% for field in user_form %}
							{% for error in field.errors %}
								<div class="alert alert-danger">
									<strong>{{field.label}}: {{ error|escape }}</strong>
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in user_form.non_field_errors %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
					{% endif %}
					{% if rse_form.errors %}
						{% for field in rse_form %}
							{% for error in field.errors %}
								<div class="alert alert-danger">
									<strong>{{field.label}}: {{ error|escape }}</strong>
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in rse_form.non_field_errors %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
					{% endif %}
					<input type="submit" value="Save" class="btn btn-primary btn-xm"></input>
					{% if edit %}
					<a class="btn btn-danger btn-xm pull-right" href="{% url 'user_change_password' user_form.instance.id %}">Change Password</a>
					{% endif %}
				</div>
			</form>
          </div>
        </div>
		
        
            
		
    </div>

{% endblock %}

{% block javascript %}
{{ block.super}}

{% if rse_form %}
<script language="javascript" src="{% static 'daterangepicker/moment.min.js' %}"></script>
<script language="javascript" src="{% static 'daterangepicker/daterangepicker.js' %}"></script>
<script type="text/javascript">	

	{% if not edit %}
	//Start Date Picker
	$('#{{rse_form.employed_from.id_for_label}}').daterangepicker({
		singleDatePicker: true,
		locale: {
			"format": "DD/MM/YYYY"
		},
	});
	{% endif %}

	//End date picker
	$('#{{rse_form.employed_until.id_for_label}}').daterangepicker({
		singleDatePicker: true,
		locale: {
			"format": "DD/MM/YYYY"
		},
	});



</script>

{% if not edit %}
<script type="text/javascript">	
	
	// function sets the salary band drop down options based from specified start date
	function populate_salary_band() {
      
	  	var date = moment($("#{{rse_form.employed_from.id_for_label}}").val(), 'DD/MM/YYYY');
		var fy_year = date.year()
		// Month is zero indexed (WTF!)
		if (date.month() < 7)
			fy_year = date.year()-1
	  
	  var url = "{% url 'ajax_salary_band_by_year' %}"

      $.ajax({
        url: url,
        data: {
          'year': fy_year       
        },
        success: function (data) {
          $("#id_salary_band").html(data); 
        }
      });
	}
	
	// set values in salary band options form based off a responsive ajax query
	$("#{{rse_form.employed_from.id_for_label}}").change(function(){
		populate_salary_band();
	});

	//set initial values of salary band options
	$(document).ready(function()
    {
        populate_salary_band();
    });
</script>
{% endif %}

{% endif %}
{% endblock %}