{% extends 'adminlte/base.html' %}
{% load static %}
{% load labels %}

{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>
{% endblock %}


{% block title %}RSE Group Administration Tool{% endblock %}

{% block page_name %}View all Users{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-9">
		<div class="box">
			
			<div class="box-body table-responsive padding">
				<table id="users" class="table table-hover">
					<thead>
						<tr>
							<th id="name">First Name</th>
							<th id="name">Last Name</th>
							<th id="department">Username</th>
							<th id="description">User Type</th>
							<th id="description">Is Admin</th>
							<th id="more"></th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
						<tr>
							<td>{{ user.first_name }}</td>
							<td>{{ user.last_name }}</td>
							<td>{{ user.username }}</td>
							<td>
								{% if user|isrseuser %}
								<span class="badge bg-green">RSE Team Member</span>
								{%else %}
								<span class="badge bg-red">Admin</span>
								{% endif %}
							</td>
							<td>{% if user.is_superuser %}
									<span class="badge bg-green">Yes</span>
								{% else %}
									<span class="badge bg-red">No</span>
								{% endif %}
							</td>
							
							<td><a href="{% url 'user_edit_admin' user.id %}" class="pull-right btn btn btn-primary btn-xs">Edit</a></td>
						</tr>
						{% endfor %}
					</tbody></table>
			</div>
		</div>
	</div>

	


</div>


{% endblock %}


{% block javascript %}
{{ block.super}}
	<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
	<!-- https://datatables.net/examples/basic_init/zero_configuration.html -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#users').DataTable({
				pageLength: 25,
				scrollX: false,
			} );
		} );
		
	</script>
{% endblock %}

