{% extends 'adminlte/base.html' %}
{% load static %}
{% load labels %}


{% block stylesheets %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'timetracking/fullcalendar/main.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'timetracking/daygrid/main.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'timetracking/timegrid/main.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'timetracking/list/main.css' %}"/>
{% endblock %}

{% block title %}RSE Group Administration Tool: Edit Timesheet{% endblock %}
{% block page_name %}RSE Group Administration Tool: Edit Timesheet{% endblock %}
{% block content %}

	<div class ="row">
        
		<div class="col-md-9">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Calendar</h3>
            </div>
            <div class="box-body">
              <div id="calendar">
			  </div>
			  
			  
            </div>
          </div>
        </div>
		
		<div class="col-md-3">
          
			 <div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">Projects</h3>
				</div>
				<div class="box-body">		
					<p>Drag projects to calendar</p>

					<!-- the events -->
					<div id="external-events">
					</div>
				</div>
			</div>
		  
        </div>
		
		
		
    </div>



   
    
    
    
{% endblock %}

{% block javascript %}
{{ block.super}}

<script type="text/javascript" src="{% static 'timetracking/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'timetracking/fullcalendar/main.js' %}"></script>
<script type="text/javascript" src="{% static 'timetracking/interaction/main.js' %}"></script>
<script type="text/javascript" src="{% static 'timetracking/daygrid/main.js' %}"></script>
<script type="text/javascript" src="{% static 'timetracking/timegrid/main.js' %}"></script>
<script type="text/javascript" src="{% static 'timetracking/list/main.js' %}"></script>


<script type="text/javascript">


	document.addEventListener('DOMContentLoaded', function() {
		var Calendar = FullCalendar.Calendar;
		var Draggable = FullCalendarInteraction.Draggable



		/* initialize the calendar
		-----------------------------------------------------------------*/

		var calendarEl = document.getElementById('calendar');

		calendar = new Calendar(calendarEl, {
			plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
			},
			editable: true,
			droppable: true, // this allows things to be dropped onto the calendar
			businessHours: true,
			//eventConstraint: "businessHours",
			allDaySlot: true,
			eventOverlap: false,
			events: {
				// events from DB
				url: '{% url "timesheet_events" %}',
				method: 'GET',
				extraParams: {
					rse_id: 1
				},
				failure: function() {
					alert('there was an error while fetching events!');
				},
				textColor: 'black' // a non-ajax option	
			},
			eventReceive: function(info) {
	
				//console.log(info);
				var default_timed_duration = moment.duration(calendar.getOption("defaultTimedEventDuration")).hours(); //default timed duration
			
				$.ajax({
					type: "POST",
					url: "{% url 'timesheet_add' %}",
					headers: {'X-CSRFToken': '{{ csrf_token }}'},
					data : {
						project : info.event.extendedProps.extendedProperties["project_id"],
						person: info.event.extendedProps.extendedProperties["person_id"],
						all_day: info.event.allDay,
						date: moment(info.event.start).format("YYYY-MM-DD"),
						start_time:  moment(info.event.start).format("hh:mm"),
						end_time: (info.event.allDay ? null : moment(info.event.start).add(default_timed_duration, "hours").format("hh:mm") )
					},
					success: function(data) {
						 
					},
					error: function(data) {
						alert("Error:" + data.responseJSON.Error);
						info.event.remove();
					}       
				});
				
			},
			eventResize: function(info){
				//alert(info.event.title + " end is now " + info.event.end.toISOString());

				//if (!confirm("is this okay?")) {
				//	info.revert();
				//}
			},
			datesRender:  function(info){
				// function is called when dates in view change so can be used to update available projects
				$.ajax({
					type: "GET",
					url: "{% url 'timesheet_projects' %}",
					data : {
						start: moment(info.view.activeStart).format("YYYY-MM-DD"),
						end: moment(info.view.activeEnd).format("YYYY-MM-DD"),
					},
					success: function(data) {
						//clear existing projects
						$('#external-events').html("");
						//append new draggable projects
						$.each(data,function(i,v) {
							var rgb_str = 'rgb('+v.r+','+v.g+','+v.b+')'
							var p_id_str = "project-" + v.id;
							$('#external-events').append('<div id="project-'+v.id+'"></div>');
							$('#'+p_id_str).addClass("external-event");
							$('#'+p_id_str).css("background-color", rgb_str);
							$('#'+p_id_str).html(v.name);
							// set event data attributes
							extendedProperties = {
								"project_id": v.id,
								"person_id": 1
							};
							event = {
								"title": v.name,
								"backgroundColor": rgb_str,
								"extendedProperties": extendedProperties
							};
							$('#'+p_id_str).attr("data-event", JSON.stringify(event));
							//set as draggable
							new Draggable($('#'+p_id_str)[0])

						})
						//set draggable
						//updateDraggable()
					},
					error: function(data) {
						alert("Error:" + data.responseJSON.Error);
					}       
				});
			}
		});
		calendar.render();

	});
	
</script>
	
{% endblock %}