{% load static %}
<!-- Commitment graph -->
<script language="javascript" src="{% static 'chartjs/moment.js' %}"></script>
<script language="javascript" src="{% static 'chartjs/chart.js' %}"></script>
<script type="text/javascript">
	
    var ctx = $('#{{canvas_id}}')[0].getContext('2d');
    var myChart = new Chart(ctx, {
            type: 'line',
            data: {
				
                datasets: [
				{% for plot_rse, commitments in commitment_data %}
                {
                    label: "{{plot_rse.user.first_name}} {{plot_rse.user.last_name}}",
					steppedLine: 'before',
                    data: [
                        {% for date, value, allocs in commitments %}
                            {
                                "x": moment("{{date | date:'Y-m-d'}}"), 
                                "y": {{value}},
								tooltip: "{% for a in allocs %} {{a}},  {% endfor %}"
                            },
                        {% endfor %}
                    ],
					backgroundColor: 'rgba({{ plot_rse.colour_rbg.r }}, {{ plot_rse.colour_rbg.g }}, {{ plot_rse.colour_rbg.b }}, 0.1)',
					borderColor: 'rgba({{ plot_rse.colour_rbg.r }}, {{ plot_rse.colour_rbg.g }}, {{ plot_rse.colour_rbg.b }}, 1.0)',
					fill: true,
                },
				{% endfor %}
                {
                    label: "Current Date Today",  
                    borderDash: [10,5] , 
                    data: [
                        
                            {
                                "x": moment("{% now 'Y-m-d'%}"), 
                                "y": 0,
                            },
                            {
                                "x": moment("{% now 'Y-m-d'%}"), 
                                "y": 100.0,
                            },
                    ],
					borderColor: 'rgba(255, 0, 0, 1.0)',
					fill: false,
                },
                ]
            },
            options: {
				responsive: true,
				legend: {
						display: true,
					},
				scales: {
                    yAxes: [{
                        //stacked: true,
                        ticks: {
                            beginAtZero:true,
                            max: 100,
                            min: 0,
                            callback: function(label, index, labels) {
                                return label+'% FTE';
                            },
                        }
                    }],
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'month',
                            displayFormats: {
                                quarter: 'D MMM YYYY'
                            }
                        }
                    }]                    
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            var label = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].tooltip
                            return label;
                        }
					}	
                }
            }
    });
	
	// javascript graph scaling
	$('#{{scale_button_id}}').on( 'click', function () {
		if (myChart.options.scales.yAxes[0].ticks.max){
			delete myChart.options.scales.yAxes[0].ticks.max;
			$("#{{scale_button_id}}_icon")[0].className = "fa fa-compress";
		}else{
			myChart.options.scales.yAxes[0].ticks.max = 100;
			$("#{{scale_button_id}}_icon")[0].className = "fa fa-expand";
		}
		myChart.update();
	});

</script>