{% load static %}
<script language="javascript" src="{% static 'daterangepicker/moment.min.js' %}"></script>
<script language="javascript" src="{% static 'daterangepicker/daterangepicker.js' %}"></script>
<script type="text/javascript">	
	//Date Range Picker
	var this_fy_start = moment().startOf('year').add(7, 'months');
	var this_fy_end = moment().startOf('year').add(7, 'months').add(1, 'year').subtract(1, 'days');
	$('#{{filter_form.filter_range.id_for_label}}').daterangepicker({
		ranges: {
			'All': [moment("{{filter_form.min_date|date:"Ymd"}}", "YYYYMMDD"), moment("{{filter_form.max_date|date:"Ymd"}}", "YYYYMMDD")],
			{% for y in filter_form.years %}
				'{{y.year}} Year': [moment("{{y.year}}0801", "YYYYMMDD"), moment("{{y.year}}0801", "YYYYMMDD").add(1, 'year').subtract(1, 'days')],
			{% endfor%}
		},
		"startDate": "{{filter_form.from_date|date:"d/m/Y"}}",
		"endDate": "{{filter_form.until_date|date:"d/m/Y"}}",
		"locale": {
			"format": "DD/MM/YYYY"
		}
	});
	
	{% if auto_submit %}
	//Submit form on change
	$('#{{filter_form.filter_range.id_for_label}}').on('apply.daterangepicker', function(ev, picker) {
		 $('#{{html_form}}').submit();
	});
	{% endif %}

</script>