{% load static %}
<script language="javascript" src="{% static 'jsGanttImproved/jsgantt.js' %}"></script>
<script type="text/javascript">
    var g = new JSGantt.GanttChart(document.getElementById('GanttChartDIV'), 'month');
    if( g.getDivId() != null ) {
        g.AddTaskItem(new JSGantt.TaskItem({{project.id}}, '{{project.name}}', '{{ project.start | date:'Y-m-d'}}', '{{ project.end | date:'Y-m-d' }}', 'ggroupblack', '{% url "project" project.id %}', 0, '', {{ project.fte }}, 1, 0,  1, '', '', '', g));
        
        {% for a in allocations %}
            g.AddTaskItem(new JSGantt.TaskItem({{project.id}}{{a.id}}, '{{a.rse}}', '{{ a.start | date:'Y-m-d'}}', '{{ a.end | date:'Y-m-d' }}', 'gtaskblue', '{% url "rse" a.rse.user.username %}', 0, '', {{ a.percentage }}, 0, {{ project.id }},  1, '', '', '', g));
        {% endfor %}
        
        //add new language to display FTE rather than complete
        g.addLang('en2', {'comp': '% FTE', 'completion': 'FTE (%)'});
        g.setLang('en2');
        g.setShowRes(0);
        g.setShowTaskInfoRes(0);
        g.setShowTaskInfoNotes(0);
        g.setShowTaskInfoLink(1);
        g.Draw();
    }

</script>