{% load static %}
<script language="javascript" src="{% static 'jsGanttImproved/jsgantt.js' %}"></script>
<script type="text/javascript">
	// Gantt
    var g = new JSGantt.GanttChart(document.getElementById('GanttChartDIV'), 'month');
    if( g.getDivId() != null ) {
        {% for rse, allocation in rses.items %}
            g.AddTaskItem(new JSGantt.TaskItem({{rse.id}}, '{{rse}}', '', '', 'ggroupblack', '', 0, '', 0, 1, 0,  1, '', '', '', g));
            
            {% for a in allocation %}
                g.AddTaskItem(new JSGantt.TaskItem({{rse.id}}{{a.id}}, '{{a.project}}', '{{ a.start | date:'Y-m-d'}}', '{{ a.end | date:'Y-m-d' }}', 'gtaskblue', '', 0, '', {{ a.percentage }}, 0, {{ rse.id }},  1, '', '', '', g));
            {% endfor %}
        {% endfor %}
        
        //add new language to display FTE rather than complete
        g.addLang('en2', {'comp': '% FTE', 'completion': 'FTE (%)'});
        g.setLang('en2');
        g.setShowRes(0);
        g.setShowTaskInfoRes(0);
        g.setShowTaskInfoNotes(0);
        
        g.Draw();
    }
</script>